<%= link_to("<< Back to List", patients_path, :class => 'back-link') %>

<div class="patients show">

  <h2>View Patient</h2>

  <table summary="Patient detail view">
    <tr>
      <th>First Name</th>
      <td><%= @patient.first_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= @patient.last_name %></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= @patient.dob %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @patient.address %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @patient.city %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @patient.state %></td>
    </tr>
    <tr>
    <tr>
      <th>Gender</th>
      <td><%= @patient.gender %></td>
    </tr>
      <th>Created</th>
      <td><%= @patient.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @patient.updated_at %></td>
    </tr>
  </table>
</div>
