<!-- style sheet used for the show page -->
<style>
  .patients-show{
      margin: auto;
      text-align: center;
      width: 25%;
  }

  th, td{
      margin: auto;
      text-align: left;
      width: 50%;
  }

  .patient-table{
    margin: auto;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #500000;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #d22c2c;
  }
</style>

<!-- navigation bar -->
<div class="navbar">
  <ul>
    <li><%= link_to("Home", patients_home_path) %></li>
    <li class="active"><%= link_to("Patients", patients_index_path) %></li>
  </ul>
</div>

<!-- Show the Patient Details -->
<div class="patients-show">

  <h2>View Patient</h2>

  <table summary="Patient detail view" class="patient-table">
    <tr>
      <th>First Name</th>
      <td><%= @patient.first_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= @patient.last_name %></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= @patient.dob %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @patient.address %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @patient.city %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @patient.state %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= @patient.gender %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @patient.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @patient.updated_at %></td>
    </tr>
  </table>
</div>
